/* todo-form */
#todo-form {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -37%);
  border-bottom: 1px solid white;
}
#todo-form input {
  font-size: 1.2em;
  background: transparent;
  border: none;
  color: white;
}
#todo-form input::placeholder {
  color: white;
}

/* todo-list */
#todo-list {
  position: absolute;
  top: 68%;
  left: 41%;
  height: 100px;
  overflow: auto;
}
#todo-list::-webkit-scrollbar {
  width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 10px;
}
#todo-list::-webkit-scrollbar-track {
  background-color: rgba(182, 182, 182, 0.6);
  border-radius: 10px;
}
#todo-list li {
  margin: 5px;
  width: 220px;
}
#todo-list li button {
  background: transparent;
  border: none;
  color: red;
}
